.matrix-container {
    display: flex;
    height: 80vh;
    background-color: black;
    overflow: hidden;
  }
  
  .matrix-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
  }
  
  .matrix-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .matrix-number {
    color: #00FF00;
    font-size: 24px;
    opacity: 0.8;
    animation: fadeIn 0.1s ease-in-out infinite alternate;
    margin: 0 5px; 
  }
  
  @keyframes fadeIn {
    0% { opacity: 0.8; }
    100% { opacity: 1; }
  }

  .time-display {
    position: absolute;
    color: #00FF00;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.8;
    z-index: 10;
    padding: 10px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }
  
  .img-container {
    width: 300px;
    height: 80vh;
    background-image: url('/assets/images/matrixclock-image.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 15%;
    left: 75%;
  }

  .inputs-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 15%;

  }
  
  .input-group {
    margin: 10px;
  }
  
  label {
    color: #00FF00;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    background-color: black;
    color: #00FF00;
    border: 1px solid #00FF00;
    margin-top: 5px;
  }
  
  