<div class="dropdown">
  <div (click)="toggleDropdown()" class="menu-icon">
    <img src="assets/icons/dropdown.svg" alt="Menu" />
  </div>

  <div class="dropdown-menu" *ngIf="isOpen">
    <button (click)="selectOption('Reloj digital')" class="dropdown-item">
      Reloj digital
    </button>

    <button (click)="selectOption('Tiempo con barras')" class="dropdown-item">
      Tiempo con barras
    </button>

    <button (click)="selectOption('Reloj analogico')" class="dropdown-item">
      Reloj analogico
    </button>

    <button (click)="selectOption('Grafico circular')" class="dropdown-item">
      Grafico circular
    </button>

    <button (click)="selectOption('Reloj de orbita')" class="dropdown-item">
      Reloj de orbita
    </button>

    <button (click)="selectOption('Reloj binario')" class="dropdown-item">
      Reloj binario
    </button>

    <button (click)="selectOption('Reloj con texto plano')" class="dropdown-item">
      Reloj con texto plano
    </button>

    <button (click)="selectOption('Reloj tipo matrix')" class="dropdown-item">
      Reloj tipo matrix
    </button>
  </div>
</div>